@use "@/styles/_colors.scss" as *;
@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: $screen-md) {
    .wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
