@use "@/styles/_variables" as *;
@use "@/styles/_colors" as *;

.popOver {
    &_title {
        padding: 0.5rem 1rem;
        border-radius: $border-radius-internal;
        background-color: $primary-color;
        color: $white-color;
        white-space: normal;
        text-align: center;
        animation: popOver 0.8s ease-in-out;
    }
}

@keyframes popOver {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
