$white-color: #fcfefe;
$black-color: #282828;

$bg-color: #e5fcff;

$primary-color: #1b998b;
$secondary-color: #ff784f;
$tertiary-color: #5fc1b7;

$skeleton-bg-color: #f0f0f0;
$skeleton-bg-color-dark: #e0e0e0;
$skeleton-bg-color-light: #f8f8f8;
