$white-color: #fefae0;

$primary-color: #606c38;
$primary-dark-color: #283618;

$secondary-color: #dda15e;
$secondary-dark-color: #bc6c25;

$tertiary-color: #b8d8ba;

$skeleton-bg-color: #f0f0f0;
$skeleton-bg-color-dark: #e0e0e0;
$skeleton-bg-color-light: #f8f8f8;
