@use "@/styles/_colors.scss" as *;
@use "@/styles/_variables.scss" as *;

@mixin button-reset {
    appearance: none;
    border: none;
    user-select: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin input-reset {
    border: none;
    background-color: transparent;
    outline: none;
}

@mixin color-by-type($type) {
    @if $type == primary {
        background-color: $primary-color;
        box-shadow: $primary-color 0 1px 0;
    } @else if $type == secondary {
        background-color: $secondary-color;
        box-shadow: $secondary-color 0 1px 0;
    } @else {
        background-color: #fff;
    }
}

@mixin cover-decorations {
    img {
        border-radius: $border-radius-internal;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    }
}

@mixin skeletonAnimation {
    background: linear-gradient(
        100deg,
        $skeleton-bg-color 8%,
        $skeleton-bg-color-light 18%,
        $skeleton-bg-color 33%
    );
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;

    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }
}
