@use "@/styles/_variables.scss" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.searchList {
    display: grid;
    grid-template-columns: repeat(4, $bookCard-width);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: $screen-lg) {
    .searchList {
        grid-template-columns: repeat(3, $bookCard-width);
    }
}

@media (max-width: $screen-md) {
    .searchList {
        grid-template-columns: repeat(2, $bookCard-width);
    }
}
@media (max-width: $screen-sm) {
    .searchList {
        grid-template-columns: repeat(1, $bookCard-width);
    }
}
