@use "@/styles/_colors.scss" as *;
@use "@/styles/_variables.scss" as *;

.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;
    font-size: 0.8rem;
}

.item {
    border: 1px solid #000;
    border-radius: $border-radius-internal;
    padding: 2px 8px;
    background-color: $bg-color;
    opacity: 0.9;
}
