@use "@/styles/_variables.scss" as *;

.bookshelfContent {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, $bookCard-width);
    justify-content: space-between;

    &_wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        align-items: center;
    }
}

@media (max-width: $screen-lg) {
    .bookshelfContent {
        grid-template-columns: repeat(2, $bookCard-width);
    }
}

@media (max-width: $screen-sm) {
    .bookshelfContent {
        grid-template-columns: repeat(1, $bookCard-width);
    }
}
